EXPO_PUBLIC_FIREBASE_API_KEY= AIzaSyAIspSn2-odZqF5bJQ9sXMj6MJn3-nJAZ8
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN= bairro-conecta-9ee36.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID= bairro-conecta-9ee36
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET= bairro-conecta-9ee36.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID= 1052882613805
EXPO_PUBLIC_FIREBASE_APP_ID= 1:1052882613805:web:1f4f693e7012ebabe4eaa4
